.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
xcuserdata/
xcuserdata/**/*
*.moved-aside
Pods/
**/Generated/*

Fastlane/report.xml
Fastlane/test_output/

*.xcodeproj
*.xcworkspace
